<nav class="resume-navbar">
  <ul>
    <li>
      <a href="javascript:void(0)" pageScroll [pageScrollTarget]="'#skill'">Skills</a>
    </li>
    <li>
      <a href="javascript:void(0)" pageScroll [pageScrollTarget]="'#timeline'">Timeline</a>
    </li>
    <li>
      <a href="javascript:void(0)" pageScroll [pageScrollTarget]="'#portfolio'">Projects</a>
    </li>
    <li>
      <button (click)="downloadPDF()">Download as PDF</button>
    </li>
  </ul>
</nav>


<header class="resume-header" id="header">
  <h1>Tisha</h1>
  <h2>Angular Developer</h2>
  <p>
    Email: <a href="mailto:tgtishagarg&#64;gmail.com">tgtishagarg&#64;gmail.com</a> |
    Phone: 7206888369 |
    LinkedIn: <a href="https://www.linkedin.com/in/tisha-a6875a20a/">Profile</a>
  </p>
</header>
